.app-bottom-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #053046;
}

.app-bar_start {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  float: left;
}

.app-bar_start:hover {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  float: left;
}

.app-bar-icon {
  float: right;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: white;
}

.app-bar_time {
  height: 40px;
  padding-right: 10px;
  margin-left: 20px;
  line-height: 20px;
  color: white;
  font-size: 13px;
  float: left;
}

.date, .time {
  height: 20px;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('./img/wallpaper.jpg');
}

.app-icon-clicked {
  opacity: 0.5;
  border: dotted white 1px;
}

.folder {
  position: absolute;
  width: 66px;
  height: 66px;
}

.game {
  position: absolute;
}

.monitor {
  position: absolute;
}

.cryptography {
  position: absolute;
}

.pen {
  position: absolute;
}

.trash {
  position: absolute;
}

img {
  width: 60px;
  height: 60px;
}

.table {
  font-size: 12px;
}

.app-icon-name {
  color: white;
  position: absolute;
  left: 0px;
  top: 45px;
  font-size: 12px;
  width: 300px;
}

@mixin dialog-title-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
}

.table-header-fixed {
  width: 60%;
  min-width: calc(40em + 17px); /* カラム最小幅合計値+スクロールバーの幅+1px（誤差吸収用） */
  height: calc(100% - 30px);
  overflow-y: scroll;
  border-collapse: collapse;
}

.table-header-fixed thead,
.table-header-fixed tbody,
.table-header-fixed tr,
.table-header-fixed th,
.table-header-fixed td {
      display: block;
}

.table-header-fixed thead {
  width: calc(100% - 16px); /* 100% - スクロールバーの幅 */
}

.table-header-fixed tbody {
  height: calc(100% - 2em); /* 100% - ヘッダの高さ */
  overflow-y: scroll;
}

.table-header-fixed tr:after { /* clearfix */
  content: "";
  clear: both;
  display: block;
}

.table-header-fixed th,
.table-header-fixed td {
  float: left;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  padding: 0 calc((100% - 40em)/6); /* (100% - カラム最小幅合計値)/(カラム数*2) */
  border-bottom: 1px solid #CCC;
  box-sizing: content-box;
}

.table-header-fixed th:first-child,
.table-header-fixed td:first-child{
  width: 10em;    /* カラム1の最小幅 */
  text-align: right;
}
.table-header-fixed th:nth-child(2),
.table-header-fixed td:nth-child(2){
  width: 10em;    /* カラム2の最小幅 */
}
.table-header-fixed th:nth-child(3),
.table-header-fixed td:nth-child(3){
  width: 20em;    /* カラム3の最小幅 */
}

.dialog {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
}

.dialog-content {
  height: 100%;
}

.title-bar {
  cursor: grab;
  border-bottom: 1px solid #ddd;
}

.dialog-close {
  @include dialog-title-button();
  background-color: red;
}

.dialog-min {
  @include dialog-title-button();
  background-color: yellow;
}

.dialog-max {
  @include dialog-title-button();
  background-color: yellowgreen;
}